{% extends 'email/base.html.twig' %}

{% block styles %}
    <style>
        .button {

        }
    </style>
{% endblock %}

{% block content %}
    <h1>Demande de récupération</h1>
    Bonjour {{ user.username }},<br />
    vous avez fait une demande de récupération de compte, veuillez vous rendre sur le lien suivant pour compléter votre demande:<br />
    <a class="button" href="{{ url('app_user_reset_password', {'resetPasswordToken': token}) }}">Récupérer mon compte</a><br />
    Cordialement, L'équipe SnowTricks.
{% endblock %}
