{% extends 'email/base.html.twig' %}

{% block styles %}
    <style>
        .button {

        }
    </style>
{% endblock %}

{% block content %}
    <h1>Mot de passe modifié</h1>
    Bonjour {{ user.username }},<br />
    Vous avez complété la demande de récupération de compte, votre mot de passe a été modifié.<br />
    Si vous n'êtes pas à l'origine de cette demande, veuillez contacter notre assistance technique au plus rapidement.<br />
    Cordialement, L'équipe SnowTricks.
{% endblock %}
