{% extends 'base.html.twig' %}

{% endblock %}

{% block content %}
  <div class="container">
    <h1>
      Bienvenue
    </h1>
    <p>
      sur SnowTricks
    </p>
  </div>
{% endblock %}

{% block javascripts_top %}

{% endblock %}
