<div class="item" style="margin: 0.3rem;border-radius: 0.3rem;overflow:hidden;">
    <img src="/uploads/images/{{image.filename}}" alt="{{image.name}}" style="height: 150px; object-fit: cover;">
    <div style="text-align: center;margin: 0;background: #eaeaea;padding: 0.25rem 0rem;">{{image.name}}</div>
</div>