// customize some Bootstrap variables
// $primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons";

body {
    font-family: "Roboto", sans-serif;
}

@media (min-width: 576px) {
    .navbar-nav .nav-item:not(:first-child):not(.dropdown) {
        border-left: 1px solid #707071;
    }
}

img.app-profile {
    border-radius: 50rem;
    width: 50px;
    height: 50px;
}