.header {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-height: calc(100vh / 1.75);
    min-height: calc(100vh / 2);
    background-image: url("../images/image_accueil.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-content {
    margin: auto;
    background-color: #ffffff7b;
    padding: 1rem 4rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.header-title {
    font-size: 2rem;
    font-weight: bold;
    display: inline-block;
    border-bottom: 0.1rem solid black;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
}

.header-subtitle {
    font-size: 1rem;
}

.header-img {
    object-fit: cover;
    width: 100%;
    max-height: calc(100vh / 1.75);
    min-height: calc(100vh / 2);
}

.trick-card:hover,
.trick-card:focus,
.trick-card:active {
    transform: scale3d(1.02, 1.02, 1.02);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.trick-card {
    transition: 0.1s;
}

.trick-card img {
    height: 400%;
}

.scroll-arrow {
    color: inherit;
    font-size: 2rem;
    transition: 0.2s;
    opacity: 0.75;
}

.scroll-arrow.scroll-down {
    position: absolute;
    bottom: 0;
    right: 0;
}

.scroll-arrow:hover,
.scroll-arrow:focus,
.scroll-arrow:active {
    text-decoration: none;
    color: inherit;
    opacity: 1;
}