.trick-edit-preview {
  background-color: #000;
}

.empty-trick-edit-preview {
  background-color: #000;
  object-fit: contain;
}

.video-card {
  scroll-snap-align: start;
}

#trick_edit_videos {
  flex-wrap: nowrap;
  overflow: auto;
  margin-bottom: 1rem;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
