<!DOCTYPE html>
<html class="h-100" lang=" fr">
	<head>
		<!-- Required meta tags -->
		<meta charset="UTF-8">
		<title>
			{% if (page_title is defined) and (page_title is not empty) %}
				{{ page_title }} -&nbsp;
			{% endif %}
		SnowTricks
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="{{ asset('build/images/logo.svg') }}">

		<!-- Bootstrap CSS -->
		{{ encore_entry_link_tags('app') }}
		{% block stylesheets_top %}
		{% endblock %}
		{% block stylesheets_bottom %}
		{% endblock %}
	</head>
	<body class="d-flex flex-column min-vh-100">
		{% include 'app_navbar.html.twig' %}
		{% if defaultFlashes is not defined or defaultFlashes == true %}
			{% block app_flashes %}
				{% include 'app_flash_notifications.html.twig' with {"flashes": app.flashes} %}
			{% endblock %}
		{% endif %}

		{% block content %}{% endblock %}

		{% include 'app_footer.html.twig' %}

		{{ encore_entry_script_tags('app') }}
		{% block javascripts_top %}
		{% endblock %}
		{% block javascripts_bottom %}
		{% endblock %}
	</body>
</html>
