{% extends 'base.html.twig' %}

{% block content %}

	<div class="m-auto p-3 p-sm-0">
		<div class="card">
			<div class="card-header">Mot de passe oublié</div>
			<div class="card-body">
				{{ form_start(form) }}
				{{form_rest(form)}}

				<button class="btn btn-primary" type="submit">Demander un lien de récupération</button>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts_top %}{% endblock %}
