{% extends 'base.html.twig' %}

{% block content %}
  {% include 'Elements/trick/delete_modal.html.twig' with {'trick': trick} %}

  <div class="h-100 d-flex">
    <div class="m-auto p-1 p-sm-0">
      <div class="card">
        <div class="card-header">
          S'inscrire
        </div>
        <div class="card-body">
          {{ form_start(form) }}
          {{ form_rest(form) }}

          <button class="btn btn-primary" type="submit">Enregistrer</button>
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#TrickDeleteModal_{{ trick.id }}">
            Supprimer le trick
          </button>
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
