{% extends 'base.html.twig' %}

{% block content %}
  <div class="m-auto p-1 p-sm-0">
    <div class="card">
      <div class="card-header">
        Se connecter
      </div>
      <div class="card-body">
        <form method="post">
          {% if error %}
            <div class="alert alert-danger">
              {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
          {% endif %}
          <div class="mb-3">
            <label for="inputUsername">Nom d'utilisateur</label>
            <input type="text"
              value="{{ last_username }}"
              name="username"
              id="inputUsername"
              class="form-control"
              required
              autofocus />
          </div>

          <div class="mb-3">
            <label for="inputPassword">Mot de passe</label>
            <input type="password"
              name="password"
              id="inputPassword"
              class="form-control"
              autocomplete="current-password"
              required />
          </div>

          <input type="hidden"
            name="_csrf_token"
            value="{{ csrf_token('authenticate') }}" />

          <button class="btn btn-primary" type="submit">Se connecter</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
