<!DOCTYPE html>
<html lang="fr">
	<head>
		<!-- Required meta tags -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width">
		<title>{{ email.subject }}</title>
		{% block styles %}{% endblock %}
	</head>
	<body>
		{% include 'email/app_email_header.html.twig' %}

		{% block content %}{% endblock %}

		{% include 'email/app_email_footer.html.twig' %}
	</body>
</html>
